<%= partial :header %>

<div class='search'>
  <input type='text' id='album_search' placeholder="Search for an album">
  <ul id='albums_list'>
    <% @recommendations['albums']['items'].each do |album| %>
      <li><a href="/eyeem/<%=album['id']%>"><%=album['name']%></a></li>
    <% end %>
  </ul>
</div>