<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Voronoi Tesselation</title>
    <script type="text/javascript" src="d3.v2.js"></script>
    <link type="text/css" rel="stylesheet" href="colorbrewer.css"/>
    <link type="text/css" rel="stylesheet" href="voronoi.css"/>
  </head>
  <body>
    <div id="chart"></div>
    <svg>
      <image class="photo" xlink:href="test.jpg" id="im0"></image>
      <image class="photo" xlink:href="test.jpg" id="im1"></image>
      <image class="photo" xlink:href="test.jpg" id="im2"></image>
      <image class="photo" xlink:href="test.jpg" id="im3"></image>
      <image class="photo" xlink:href="test.jpg" id="im4"></image>
      <image class="photo" xlink:href="test.jpg" id="im5"></image>


    </svg>
    <script type="text/javascript" src="voronoi.js"></script>
  </body>
</html>
