svg {
  border: solid 0px #666;
  overflow: hidden;
  /*width: 500 px;
  height: 500 px;
  top-padding: 125px;
  left-padding: 125px;
  float:left;*/
}

path {
  fill: transparent;
  stroke: #FFF;
  stroke-width: 5px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

circle {
  fill: #ccc;
  stroke: #000;
  pointer-events: none;
}
